{{>layouts/header}}

{{#hospital}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
            <h5 class="card-title">{{hospital_name}}</h5>
            <p class="card-text">{{road_name_address}}</p>
{{/hospital}}

{{>layouts/footer}}
